* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fffef4;
  font-family: "Open Sans", sans-serif;
  color: #343a40;
  font-size: 12px;
  height: 100vh;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 10px 1fr 10px;
}

/* Contact side-bar (aside) ---- */

aside {
  background-color: #93c572;
  grid-row: 2;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px;
}

aside .profile-title {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside .profile-title .socials i {
  margin-top: 10px;
  font-size: 15px;
  color: #fffef4;
  padding: 0px 2px;
}

aside .profile-info .contacts {
  margin-top: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: left;
}

aside .profile-info .contacts i {
  font-size: 10px;
  color: #fffef4;
  padding-right: 10px;
  padding-top: 5px;
}

aside img {
  width: 70%;
  border-radius: 100px;
}

aside .profile-info {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn-resume {
  margin-top: 10px;
  font-family: inherit;
  background-color: #fffef4;
  border: none;
  border-radius: 5px;
  padding: 5px;
  padding-top: 3px;
}

.btn-resume:hover {
  background-color: #fffef4be;
  transition: 0.3s;
  cursor: pointer;
}

/* nav {
  background-color: #343a40;
  grid-column: 1 / -1;
} */

/* Main section (for about me and project info) ---- */

section {
  font-size: 14px;
  background-color: #93c572;
  grid-row: 2;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  gap: 10px;
}

section .info-card {
  /* margin-top: 10px; */
  background-color: #fffef4;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .category-buttons {
  width: auto;
  min-width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px;
  justify-content: center;
}

section .btn-category {
  font-size: 18px;
  font-family: inherit;
  border: 4px solid #fffef4;
  border-radius: 5px;
  background-color: #fffef4;
}

section .btn-category:hover {
  border-bottom: 4px solid #93c572;
  border-top: 4px solid #fffef4;
  transition: 0.5s;
}

section .btn-selected {
  border-bottom: 4px solid #93c572;
  border-top: 4px solid #fffef4;
  transition: 0.5s;
}

section .info-card {
  text-align: left;
}

section .info-card h2 img {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

section .info-card .project-content {
  /* background-color: #93c572; */
  /* width: 600px; */
  /* border: 1px solid grey; */
  border-radius: 10px;
  width: 100%;

  /* margin: 10px; */
  padding: 20px 0px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

section .content-web-dev {
  display: none;
  visibility: hidden;
}

section .content-spatial {
  display: none;
}

section .content-automation {
  display: none;
}

section .content-mgmt {
  display: none;
}

section .content-selected {
  visibility: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;

  justify-content: center;
  align-content: center;

}

section .project {
  width: 430px;
  /* height: 180px; */
  border: 1px solid #93c572;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(224, 221, 221);
  background-color: #fffef4;
  /* margin: 10px; */

  display: grid;
  grid-template-columns: 150px 1fr;
}

section .project img {
  /* border: 2px solid rgb(58, 58, 58); */
  background-color: #fffef4;
  border: 1.5px solid #1a2215;
  border-radius: 5px;
  width: 120px;
  height: 120px;
  margin: 10px;
  transition: 0.3s;
}

section .project img:hover {
  transform: scale(1.5);
}

section .project .tags {
  font-size: 8px;
}

section .project .project-info {
  text-align: left;
  padding: 10px;
  font-size: 12px;
}

/* Footer section ---- */

footer {
  grid-column: 1 / -1;
  grid-row: -1;

  font-size: 10px;

  padding: 5px;
}

/* Media queries for responsive design ---- */

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }

  aside {
    background-color: #93c572;
    grid-row: 2 /-1;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px;

    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 1fr 20px; */
  }

  aside .profile-title {
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
  }

  aside .profile-info {
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
  }

  aside img {
    width: 100px;
  }

  section {
    margin: 0px 10px;
  }

  section .project {
    width: 300px;
  }

  section .category-buttons {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px;
  }
}
